<?xml version ="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="First Suite" parallel="tests">
    <parameter name="suiteOwner" value="lballetti"/>
    <parameter name="jenkinsJobName" value="Job1"/>
    <parameter name="jenkinsJobType" value="web"/>
    <parameter name="jenkinsEmail" value="lballetti@solvd.com"/>
    <parameter name="jenkinsEnvironments" value="DEMO"/>
    <parameter name="provider" value="selenium"/>
    <parameter name="jenkinsRegressionPipeline" value="competency-regression-pipeline"/>
    <parameter name="jenkinsRegressionMatrix" value="env: DEMO, branch: carina; env:PROD, branch: prod"/>


    <test name="Test Automation chrome">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="com.solvd.UnauthenticatedTests"/>
        </classes>
    </test>
</suite>


<!-- jenkins token = 11aab9460d9a08172f2a92592ab788bc1c -->